.user-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.user-card{
    border-radius: 6px;
    border: 1px solid red;
    width: 200px;
    padding: 20px;
}