*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1{
  text-align: center;
  color: #2c3e50;
}
h3{
  text-align: center;
  color: #2c3e50;
}
form{
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 8px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
}