.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.loginform{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: brown;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px;
}
.email,.password{
    width: 200px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
}
.loginbtn{
    width: 213px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
}